* {
    color: #fff;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
}

nav{
    background-color: #01adf3
}

footer{
    background: #01adf3;
}

.containerafternav{
    padding: 5px;
}
.link {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    
}

.link:hover {
    color: #FFF200 !important;
    border-bottom: #FFF200 1px solid;
    text-decoration: none !important;
}

.stripes {

    max-width: 64px;
    margin-left: 40px;
    margin-left: 5vh;

}

.navbar-collapse {
    max-width: 880px;
    margin: 0 auto;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.carrusel1{
    width: 95%;
    margin: 0 auto;
}
/* .carrusel{
    border-radius: 10px;
}
.carrusel1{
    justify-content: center;
    align-items: center;
} */

.containerBarrio img {
    display: block;
    margin: 0 auto;
}


.tarjetasInfo {
    background-color: rgb(1, 173, 243);
    border-radius: 10px;

}


.tarjetas {
    

    padding-bottom: 30px;

}


.tarjeta-ind {
    background-color: rgba(19, 154, 207, 0.801);
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;

}

.tarjeta-ind:hover {
    transform: scale(1.05);
    background-color: rgb(1, 173, 243);
    transition: background-color 1000ms linear;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.tarjeta-ind img {
    width: 50%;
}

.tarjeta-ind h3 {
    margin: 10px 0;
    color: #fff;
}

.tarjeta-ind p {
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.linkTarjetas {

    color: #fff;
    text-decoration: none;
    margin: 10px;
}

.linkTarjetas:hover {
    color: #FFF200 !important;
    border-bottom: #FFF200 1px solid;
    text-decoration: none !important;
}


footer .bg-footer{
    background: url('./images/fondo-footer.png') repeat-x bottom;
}


/* Fuentes */

.fuenteC {
    /* Fuente cursiva */
    font-family: 'Edu QLD Beginner', cursive;
}

.fuenteO {
    /* Fuente Oficial */
    font-family: 'KoHo', sans-serif;
}
.patenas{
    color: black;
}




/* scroll bar */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #01adf3 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
    height: 0;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #01adf3;
    border-radius: 10px;
    border: 03px solid #fff;
}