.tabs {
  display: flex;
  flex-wrap: wrap;
  
}

.tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #e1e4eb; /* Tab sin seleccionar */
  font-weight: bold;
  transition: background ease 0.2s;
}

.containertabs {
  font-family: 'Fira Code', monospace;
  background-color: #dddddd; /* Fondo div */
  
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;
}

.containertabs img {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;
}


.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #ebeef5; /* contenido */
}

.tabs input[type=radio] {
  display: none;
}

.tabs input[type=radio]:checked + label {
  background: #ebeef5; /* Tab seleccionada */
  
}

.tabs input[type=radio]:checked + label + .tab {
  display: block;
}

.JSONLetra1 {
  color: #5570db ;
  font-weight: bold;
}

.JSONLetra2 {
  color: #d81452 ;
}



@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

